.centerForm{
    margin: 30px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin-left: 400px;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
    display: block;
}